<div class="post-content">
    <div class="ui grid">
        <div class="four wide column">
        <a class="avatar avatar-link"
            href="/posts?author=<%= post.author._id %>"
            data-title="<%= post.author.name %> | <%= ({m: '男', f: '女', x: '保密'})[post.author.gender] %>"
            data-content="<%= post.author.bio %>">
            <img class="avatar" src="/img/<%= post.author.avatar %>">
        </a>
        </div>

        <div class="eight wide column">
        <div class="ui segment">
            <h3><a href="/posts/<%= post._id %>"><%= post.title %></a></h3>
            <pre><%- post.content %></pre>
            <div>
            <span class="tag"><%= post.created_at %></span>
            <% if (user) { %>
                <% post.tags.forEach(function (tag) { %>
                <span class="tag">
                    🏷️<%- tag.tag %>
                    <% if (tagEditFlag) { %>
                        <a class="delete" href="/tags/<%= tag._id %>/remove">❌</a>
                    <% } %>  
                <% }) %>
                </span>
            <% } %>  
            <span class="tag right">
                <span>浏览(<%= post.pv || 0 %>)</span>
                <span>留言(<%= post.commentsCount || 0 %>)</span>

                <% if (user && post.author._id && user._id.toString() === post.author._id.toString()) { %>
                <div class="ui inline dropdown">
                    <div class="text"></div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                    <div class="item"><a href="/posts/<%= post._id %>/edit">编辑</a></div>
                    <div class="item"><a href="/posts/<%= post._id %>/remove">删除</a></div>
                    </div>
                </div>
                <% } %>
            </span>
            </div>
            <% if (tagEditFlag) { %>
            <form class="ui tag form" method="post" action="/tags">
                <input name="postId" value="<%= post._id %>" hidden>
                <div class="field">
                <input name="tag" type="text">
                </div>
                <input type="submit" class="ui icon button" value="新增标签" />
            </form>
            <% } %>
        </div>
        </div>
    </div>
</div>